<div class="messenger-container">
  <graffiti-discover
    v-slot="{ objects: profiles, isInitialPolling }"
    :channels="['designftw-2025-studio2', 'designftw']"
    :schema="{
      properties: {
        value: {
          required: ['describes', 'name', 'pronouns', 'bio'],
          properties: {
            describes: { type: 'string', enum: getConvo.otherActors },
            name: { type: 'string' },
            pronouns: { type: 'string' },
            bio: { type: 'string' },
          },
        }
      }
    }"
  >
    <graffiti-discover
      v-slot="{ objects: schedules, isInitialPolling }"
      :channels="getConvo?.otherActors ?? []"
      :schema="{
        properties: {
          value: {
            required: ['activity', 'object'],
            properties: {
              activity: {type: 'string', const: 'Create'},
              object: {
                required: ['type', 'name', 'activated', 'from', 'to', 'recurrence'],
                properties: {
                  type: { type: 'string', const: 'Schedule'},
                  name: { type: 'string'},
                  activated: { type: 'boolean'},
                  from: { type: 'string'},
                  to: { type: 'string'},
                  recurrence: { type: 'object'}
                }
              }
            }
          }
        }
      }"
    >
      <div class="busy" v-if="isBusy(schedules)">
        {{getProfileNames(profiles)[0]}} is currently busy with {{
        schedules.map((schedule) => schedule.value.object.name).join(', ')}}
      </div>
      <div class="messenger-header">
        <h2 class="messenger-title">
          {{ getProfileNames(profiles).join(', ') }}
        </h2>
      </div>
      <div
        :class="'messages-container' + (isBusy(schedules) ? ' disabled' : '')"
      >
        <graffiti-discover
          v-slot="{ objects, isInitialPolling }"
          :channels="[$graffitiSession.value?.actor]"
          :schema="{
        properties: {
          value: {
            required: ['content', 'published', 'conversation'],
            properties: {
              content: { type: 'string' },
              published: { type: 'number' },
              conversation: { type: 'string', const: getConvo.url ?? '' }
            }
          }
        }
      }"
        >
          <span
            v-for="object of objects.toSorted((a, b) => b.value.published - a.value.published)"
            :class="'message' + self(object, $graffitiSession)"
            >{{ object.value.content }}
          </span>
        </graffiti-discover>
      </div>
      <form class="send" @submit.prevent="sendMessage($graffitiSession.value)">
        <input
          type="text"
          v-model="message"
          placeholder="Message"
          ref="messageInput"
          :disabled="!getConvo.otherActors || isBusy(schedules)"
        />
        <input
          type="submit"
          value="Send"
          :disabled="sending || !getConvo.otherActors || isBusy(schedules)"
        />
      </form>
    </graffiti-discover>
  </graffiti-discover>
</div>
