<div class="messenger-container">
  <div class="messenger-header">
    <h2 class="messenger-title">{{getConvo.otherActors?.join(', ')}}</h2>
  </div>
  <div class="messages-container">
    <graffiti-discover
      v-slot="{ objects, isInitialPolling }"
      :channels="[$graffitiSession.value.actor]"
      :schema="{
        properties: {
          value: {
            required: ['content', 'published', 'conversation'],
            properties: {
              content: { type: 'string' },
              published: { type: 'number' },
              conversation: { type: 'string', const: getConvo.url ?? '' }
            }
          }
        }
      }"
    >
      <span
        v-for="object of objects.toSorted((a, b) => b.value.published - a.value.published)"
        :class="'message' + self(object, $graffitiSession)"
        >{{ object.value.content }}
      </span>
    </graffiti-discover>
  </div>
  <form class="send" @submit.prevent="sendMessage($graffitiSession.value)">
    <input
      type="text"
      v-model="message"
      placeholder="Message"
      ref="messageInput"
      :disabled="!getConvo.otherActors"
    />
    <input
      type="submit"
      value="Send"
      :disabled="sending || !getConvo.otherActors"
    />
  </form>
</div>
